
.sidenav {
  width:350px;
}

.icons {
  width:50px;
  float:left;
}

.icons .icon:hover {
  cursor:pointer;
  text-decoration:underline;
}

.nav-items {
  width:300px;
  float:right;
}

.nav-items {
  overflow:hidden;
}

.nav-items ul {
  margin-top:0px;
  margin-left:-300px;
  display:none;
}

.nav-items li {
  list-style-type:none;
  cursor:pointer;
}

#selection-icon{
  background-color: white;
  z-index: 2;
  right: 0;
  text-align: right;
}
#filter-icon {
  background-color: white;
  z-index: 2;
  right: 0;
  text-align: right;
}

