
<span id= "selection-icon" (click)="componentCommunication.whichRightSideNav = 1">open</span>
<span id="filter-icon"  (click)="componentCommunication.whichRightSideNav = 2"><p>2</p></span>
<app-selection-panel *ngIf="componentCommunication.whichRightSideNav === 1"></app-selection-panel>
<app-filter-panel *ngIf="componentCommunication.whichRightSideNav === 2"></app-filter-panel>
<!-- <div class="sidenav">
  <div class="icons">
    <div class="icon">Nav 1</div>
    <div class="icon">Nav 2</div>
    <div class="icon">Nav 3</div>
  </div>
  <div class="nav-items">
      <ul class="item-set">
            <li>Early Swords</li>
            <li>Roman Swords</li>
            <li>Viking Swords</li>
            <li>Medieval One Handed</li>
            <li>Hand &amp; a Half Swords</li>
            <li>Medieval Two Handed</li>
            <li>Single Edged Swords</li>
            <li>Next Generation Scabbards</li>
      </ul>
      <ul class="item-set">
        <li>One Handed Museum Line Swords</li>
        <li>Two Handed Museum Line Swords</li>
        <li>Museum Line Scabbards</li>
      </ul>
      <ul class="item-set">
        <li>One Handed Practice Swords</li>
        <li>Two Handed Practice Swords</li>
      </ul>
  </div> -->

<!-- </div> -->
