.search-container-all {
  direction: rtl;
}

.search-container-all form {
  display: flex;
}

.search-container-all input {
  font-family: IRANSans, sans-serif;
  border: none;
  outline: none;
}

.search-container-all button {
  border: none;
  outline: none;
}

.search-wrapper button {
  height: 35px;
  background-color: wheat;
  padding: 0 10px 0 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  border-style: solid;
  border-color: wheat;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

}

.search-wrapper input {
  background-color: wheat;  
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  height: 35px;
  width: 200px;
  padding: 0;
  margin-right: 15px;
  padding-right: 15px;

}
.in-branch-panel{
    margin-bottom: 10px;
}

.in-branch-panel input {
  background-color: wheat;
  height: 30px;
  padding: 0;
  padding-right: 10px;
  width: 90%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.in-branch-panel button {
  background-color: wheat;
  height: 30px;
  width: 10%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
