$first: #eeeeee;
$second: #222831;
$third: #4f8a8b;
$forth: #fbd46d;

.sidenav {
  height: 100%;
  width: auto; /* 0 width - change this with JavaScript */
  z-index: 0; /* Stay on top */
  background-color: $third; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
  border-style: solid;
  border-radius: 15px;
  border-color: $third;
  padding-top: 20px;
  margin: 15px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}
#first-tab {
  margin-top: 200px;
  top: 200px;
}

.selection-search-bar-container {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
