<div class="sidenav">

  <span id="selection-icon" class="icon-styles" (click)="onIconClick('selection-icon')">
    <p>
      <img id="selection" src="{{expandIconPath}}" class="icon-style">
    </p>
  </span>


  <span id="path-icon" class="icon-styles" (click)="onIconClick('path-icon')">
    <p>
      <img id="path" src="{{pathIconPath}}" class="icon-style">
    </p>
  </span>


  <span id="flow-icon" class="icon-styles" (click)="onIconClick('flow-icon')">
    <p>
      <img id="flow" src="{{flowIconPath}}" class="icon-style">
    </p>
  </span>



  <span id="add-icon" class="icon-styles" (click)="onIconClick('add-icon')">
    <p>
      <img id="add" src="{{addNodeIconPath}}" class="icon-style">
    </p>
  </span>


</div>