$first: #eeeeee;
$second: #222831;
$third: #4f8a8b;
$forth: #fbd46d;


.sidenav {
  height: calc(100% - 20px);
  width: 80%;
  background-color: $second;
  border-style: solid;
  border-radius: 15px;
  margin: 10px;
  text-align: center;
}
.icon-styles{
  cursor: pointer;
  margin: 5px;
}

.icon-style{
  width: 50%;
}

.icon-style:onclick{
  width: 60%;
  transform: rotate(360deg);
  transition-duration: 1s;
}

fa-icon{
  color: $first;
  cursor: pointer;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

faIcon{
  font-size : 20%;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
