<div class="sidenav">

  <span id="selection-icon" class="icon-styles" (click)="onIconClick('selection-icon')">
    <p>
      <img src="{{expandIconPath}}" width="80%">
    </p>
  </span>


  <span id="path-icon" class="icon-styles" (click)="onIconClick('path-icon')">
    <p>
      <img src="{{pathIconPath}}" width="80%">
    </p>
  </span>


  <span id="flow-icon" class="icon-styles" (click)="onIconClick('flow-icon')">
    <p>
      <img src="{{flowIconPath}}" width="80%">
    </p>
  </span>



  <span id="add-icon" class="icon-styles" (click)="onIconClick('add-icon')">
    <p>
      <img src="{{addNodeIconPath}}" width="80%">
    </p>
  </span>


</div>