<div class="sidenav">

  <span id="selection-icon" class="icon-styles" (click)="componentCommunication.whichLeftSideNav = 1">
    <p>
      <img src="{{expandIconPath}}" width="80%">
    </p>
  </span>


  <span id="path-icon" class="icon-styles" (click)="componentCommunication.whichLeftSideNav = 2">
    <p>
      <img src="{{pathIconPath}}" width="80%">
    </p>
  </span>


  <span id="flow-icon" class="icon-styles" (click)="componentCommunication.whichLeftSideNav = 3">
    <p>
      <img src="{{flowIconPath}}" width="80%">
    </p>
  </span>



  <span id="add-icon" class="icon-styles" (click)="componentCommunication.whichLeftSideNav = 4">
    <p>
      <img src="{{addNodeIconPath}}" width="80%">
    </p>
  </span>


</div>