.edge-info {
  left: 1%;
  top: 0%;
  direction: rtl;
  text-align: right;
  font-family: IRANSans, sans-serif;
  margin: 0;
  border-bottom: 1px solid black;
}
.edge-info h1{
  font-family: IRANSans, sans-serif;
  font-size: 16px;
  margin: 0;
  font-weight: bold;
}
.edge-info p{
  margin: 0;
  font-size: 12px;
}
