.edge-info {
  left: 1%;
  top: 0%;
  // color: rgb(222, 222, 226);
  direction: rtl;
  text-align: right;
  font-family: IRANSans, sans-serif;
}
.edge-info h1{
  font-family: IRANSans, sans-serif;
}
.edge-id{
  font-weight: bold;
}
