<!-- <section class="example-section"> -->
<app-search-bar></app-search-bar>
<!-- <p></p>
  <p><mat-checkbox class="example-margin">شعبه یک</mat-checkbox></p>
  <p><mat-checkbox class="example-margin">شعبه بیشتر یک</mat-checkbox></p>
  <p><mat-checkbox class="example-margin">شعبه خیلی یک</mat-checkbox></p>
  <p><mat-checkbox class="example-margin">یک فور اور</mat-checkbox></p>
  <p><mat-checkbox class="example-margin">تنها شعبه</mat-checkbox></p>
  <p><mat-checkbox class="example-margin">تنها شعبه و دوستان</mat-checkbox></p>
  <p><mat-checkbox class="example-margin">دوستان به جز یکیشون</mat-checkbox></p>
  <p><mat-checkbox class="example-margin">شاید 1.25</mat-checkbox></p>
  <p><mat-checkbox class="example-margin">میبی 1.5 </mat-checkbox></p>
  <p><mat-checkbox class="example-margin">چرا 2 نشود ؟ </mat-checkbox></p>
  <p><mat-checkbox class="example-margin">چون نمی شود </mat-checkbox></p>
  <p><mat-checkbox class="example-margin">خب دیگه . 2</mat-checkbox></p>
</section> -->
<cdk-virtual-scroll-viewport itemSize="50" minBufferPx="100" maxBufferPx="400" class="example-viewport">
  <mat-checkbox *cdkVirtualFor="let branch of branches" class="example-item">{{branch}}</mat-checkbox>
</cdk-virtual-scroll-viewport>
