.example-section {
  margin: 12px 0;
  text-align: right;
}

.example-margin {
  margin: 0 12px;
  font-family: IRANSans, sans-serif;
  direction: rtl;
}
.example-margin span{
  padding: 0 4px 0 0;
}
