.example-section{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
  align-items: center;
   flex-wrap: wrap;
 }

 .example-margin{
   width: 25%;
   width: auto;
   margin: 5%;
 }