.example-viewport {
  height: 100px;
  width: 96%;
  border: 1px solid black;
  direction: rtl;
  padding: 5px;
}

.example-item {
  height: 50px;
  display: block;
  font-family: IRANSans, sans-serif;
}
