$first: #eeeeee;
$second: #222831;
$third: #4f8a8b;
$forth: #fbd46d;

.sidenav {
  height: 50%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: calc(3%);
  background-color: $second;
  overflow-x: hidden;
  margin: 10px;
  transition: 3.5s;

  border-style: solid;
  border-radius: 15px;
  border-color: $second;
}


.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: relative;
  font-size: 36px;

  margin: 20px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

 #main {
  transition: margin-left .5s;
  padding: 20px;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-expansion-panel-header{
  direction: rtl;
  font-family: IRANSans, sans-serif;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

button {
  font-family: IRANSans, sans-serif;
  margin: 0 10px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 60%;
}

mat-label,
input,
mat-form-field {
  font-family: IRANSans, sans-serif;
  direction: rtl;
  text-align: right !important;
}
