<span class="node-info">
  <h1> noooodeee innnnnfoooooo </h1>
  <b>Account ID{{ componentCommunication.nodeInfo.accountId}}</b>
  <p>
    {{componentCommunication.nodeInfo.name}}{{ componentCommunication.nodeInfo.familyName}}
  </p>
  <!-- <p>
    {{node.accountType}}
  </p>
  <p>
    {{node.sheba}}
  </p>
  <p>
    {{node.cardID}}
  </p>
  <p>
    {{node.ownerID}}
  </p>
  <p>
    {{node.branchName}}
  </p>
  <p>
    {{node.branchAdress}}
  </p>
  <p>
    {{node.branchTelephone}}
  </p> -->

</span>
