<span class="node-info">
  <!-- <h1> اطلاعات حساب</h1>

<p>
    <h2>{{node.ownerName}} {{ node.ownerFamilyName}}</h2>
   <p><b>{{ node.accountId}}: شماره حساب  </b></p>

  <p>
    {{node.accountType}} : نوع حساب
  </p>
  <p>
    {{node.sheba}} : شبا
  </p>
  <p>
    {{node.cardId}} : شماره کارت
  </p>
  <p>
    {{node.ownerId}} : شماره ملی صاحب حساب
  </p>
  <p>
    {{node.branchName}} : نام شعبه
  </p>
  <p>
    {{node.branchAddress}} : ادرس شعبه
  </p>
  <p>
    {{node.branchTelephone}} : تلفن شعبه
  </p> -->
</span>
