<span class="node-info">
  <h1> Account Information </h1>
  <b>Account ID: {{ componentsCommunication.nodeInfo.accountId}}</b>
  <p>
    {{componentsCommunication.nodeInfo.name}}    {{ componentsCommunication.nodeInfo.familyName}}
  </p>
  <p>
    {{componentsCommunication.nodeInfo.branchName}}
  </p>
  
  <!-- <p>
    {{node.accountType}}
  </p>
  <p>
    {{node.sheba}}
  </p>
  <p>
    {{node.cardID}}
  </p>
  <p>
    {{node.ownerID}}
  </p>
  <p>
    {{node.branchName}}
  </p>
  <p>
    {{node.branchAdress}}
  </p>
  <p>
    {{node.branchTelephone}}
  </p> -->

</span>
