$first: #eeeeee;
$second: #222831;
$third: #4f8a8b;
$forth: #fbd46d;

.graph-info {
  left: 1%;
  top: 0%;
  direction: rtl;
  text-align: right;
  color: $second;
}

h1{
  margin: 5px;
  font-weight: bold;
  text-align: center;
}

p{
  margin: 5px;
  font-size: 13px;
}

.node{
  display: inline;
}
.edge{
  display: inline;
}

.info{
  margin-top: 20px;
  width: auto;
  height: 50px;
  text-align: center;
}
  