.graph-info {
    left: 1%;
    top: 0%;
    direction: rtl;
    text-align: right;
  }
  .graph-info h1{
    font-size: 16px;
    margin: 0;
    font-weight: bold;
  }
  .graph-info p{
    margin: 0;
    font-size: 12px;
  }
  