$first: #eeeeee;
$second: #222831;
$third: #4f8a8b;
$forth: #fbd46d;


.node-info {
  left: 1%;
  top: 0%;
  direction: rtl;
  text-align: right;
  color: $second;
}

h1{
  margin: 7px;
  margin-bottom: 40px;
  font-weight: bold;
  text-align: center;
}

p {
  margin: 10px;
  margin-right: 15px;
  font-size: 13px;
}  
