.node-info {
  left: 1%;
  top: 1%;
  text-align: right;
  font-family: IRANSans, sans-serif;
  font-size: small;
  border-bottom: 1px solid black;
}
.node-info h1,h2{
  font-family: IRANSans, sans-serif;
}

.node-info h1{
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.node-info h2{
  margin: 0%;
  font-size: 14px;
  font-weight: bold;
}
.node-info p{
  margin: 0;
  font-size: 12px;

}