.all-path{
  margin-top: 80%;
  width: 20%;
  margin-left: 4%;
  z-index: 10;
  position: absolute;
  // left: 10px;
   bottom: 20%;
  //  top: 70%;
}
.show-button{
  margin-top: 80%;
  width: 20%;
  margin-left: 4%;
  z-index: 10;
  position: absolute;
  bottom:220px;
}

