$first: #eeeeee;
$second: #222831;
$third: #4f8a8b;
$forth: #fbd46d;

.all-path{
  width: 20%;
  z-index: 10;
  position: absolute;
  top: calc(50% + 20px);
  height: calc(50% - 30px);
  left: calc(3% + 10px);
  background-color: $second;

  border-style: solid;
  border-radius: 15px;
  border-color: $second;
  overflow: auto;
  overflow-x: hidden;
}
.show-button{
  margin-top: 80%;
  width: 20%;
  margin-left: 4%;
  z-index: 10;
  position: absolute;
  bottom:220px;
}

.toggle-style{
  position: relative;
  color: #eeeeee;
  margin: 15px;
  direction: rtl;
  height: 10%;
}

.path-cards-style{
  position: relative;
  height: auto;
  margin: 15px;
  box-shadow: none;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $second;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $forth;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $forth;
}
