.sidenav {
height: 100%;
width: 100%;
  z-index: 0;
  background-color: rgb(241, 170, 170);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

#first-tab {
  margin-top: 200px;
  top: 200px;
}

.selection-search-bar-container {
  margin-bottom: 10px;
  text-align: center;

}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
