$first: #eeeeee;
$second: #222831;
$third: #4f8a8b;
$forth: #fbd46d;


.sidenav {
  height: 100%;
  width: auto;
  z-index: 0;
  background-color: $third;
  overflow-x: hidden;
  transition: 0.5s;
  overflow: auto;
  overflow-x: hidden;

  border-style: solid;
  border-radius: 15px;
  border-color: $third;
  margin: 15px;

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}
#first-tab {
  margin-top: 200px;
  top: 200px;
}

.selection-search-bar-container {
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}


/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}