.graph-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 500px;
}
.text-center{
    display: inline-block;
    top: 10px;
    position: absolute;
    width: fit-content;
}
.ogma-container{
    width: 800px; 
    height: 80%; 
    display: inline-block;
}