<div class="graph-container">
  <div #ogmaContainer class="ogma-container"></div>
  <app-tooltip
    *ngIf="hoveredContent"
    [content]="hoveredContent"
    [position]="hoveredPosition"
  ></app-tooltip>
  <app-context-menu
    *ngIf="contextMenuContent != null"
    [content]="contextMenuContent"
    [position]="contextMenuPosition"
  ></app-context-menu>
  <div class="text-center">
    <form class="form" #formRef="ngForm">
      <button class="btn" (click)="getJs()">Add a graph</button>
    </form>
  </div>

  <div class="search-center">
    <form class="form" #formRef="ngForm">
      <app-search-bar class="btn"> </app-search-bar>
    </form>
  </div>
</div>
