.graph-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 30%;
    right:23%;
}
.text-center{
    top: 10px;
    position: absolute;
    width: fit-content;
}

.ogma-container{
    position: relative;
    width: 800px;
    height: 80%;
}
