<div class="view-panel-style">



  <div class="tabs">


    <div class="tab-2">
      <label for="tab2-1">تراکنش ها</label>
      <input id="tab2-1" name="tabs-two" type="radio" checked="checked" />
      <div>
        <app-edges-view-panel></app-edges-view-panel>
      </div>
    </div>
    

    <div class="tab-2">
      <label for="tab2-2">حساب ها</label>
      <input id="tab2-2" name="tabs-two" type="radio" />
      <div>
        <app-nodes-view-panel></app-nodes-view-panel>
      </div>

    </div>

  </div>



</div>