<div class="amount-wrapper">
    <mat-form-field class="amount-input">
    <mat-label>:کمترین مقدار</mat-label>
    <input
      type="number"
      matInput
      [(ngModel)]="minValue"
      (change)="changeChecked()"
      class="amount-input"
    />
</mat-form-field>
<mat-form-field class="amount-input" style="margin-right: 10px;">
    <mat-label>:بیشترین مقدار</mat-label>
    <input
      type="number"
      matInput
      [(ngModel)]="maxValue"
      (change)="changeChecked()"
      class="amount-input"
    />

</mat-form-field>
</div>
