.amount-wrapper {
  direction: rtl;
  text-align: right;
  font-family: IRANSans, sans-serif;
  font-size: small;
}

.amount-input {
  width: auto;
  direction: ltr;
  margin: 10px;
  border-radius: 1px;
  border: none;
  height: 25px;
  text-align: right;
}
