/* .example-full-width {
  font-family: IRANSans, sans-serif;
  text-align: right;
  width: 30%;
}

mat-label {
  font-family: IRANSans, sans-serif;
  font-size: small;
}

.time-start {
  margin-right: 15px;
}
 */

 .time-style{
  width: auto;
  height: auto;
  text-align: center;
 }
 .date-style{
   width: auto;
   height: auto;
   text-align: center;
 }
 .time-start{
   width: calc(50% - 15px);
   margin: 5px;
   float: left;

 }
 .time-end{
   width: calc(50% - 15px);
   margin: 5px;
   float: right;

 }

 .date-start{
  width: calc(50% - 15px);
  margin: 5px;
  float: left;

}
.date-end{
  width: calc(50% - 15px);
  margin: 5px;
  float: right;

}